.env
.env.*
!.env.example
.git
.devnet
.localnet
.codex
.idea
.vscode
.vercel
artifacts
target
dist
dist-services
**/dist
**/node_modules
coverage
api
public
**/public
tools
client/tools
twa
client/twa
twa/*.keystore
*.log
run_logs.txt
