<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.INTERNET" />
  <queries>
    <intent>
      <action android:name="android.intent.action.VIEW" />
      <category android:name="android.intent.category.BROWSABLE" />
      <data android:scheme="solana-wallet" />
    </intent>
  </queries>
  <application>
    <activity android:name=".WalletActivity" android:exported="false"
      android:theme="@android:style/Theme.Translucent.NoTitleBar"
      android:excludeFromRecents="true" />
  </application>
</manifest>
